.document-container {
    overflow: auto;
    height: 800px;
    width: 100% !important
}

.pg-viewer-wrapper {
    overflow: hidden !important;
}

.card-container {
    margin-bottom: 20px !important;
}