.login-page {
  min-height: 100vh;
  background-color: #f0f2f5;
}

.login-page .container {
  max-width: 360px;
  margin: 50px auto;
}

.login-form {
  background-color: #fff;
  padding: 24px 24px;
  border-radius: 5px;
  margin-top: 50px;
}

.login-form h2 {
  margin-top: 40px;
  font-size: 24px;
  text-align: center;
}

.login-form-checkbox {
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.login-form-button {
  width: 100%;
}

.login-form-forgot {
  float: right;
}
