.document-container {
    overflow: auto;
    height: 600px;
    width: 100% !important
}

.pg-viewer-wrapper {
    overflow: hidden !important;
}

.card-container {
    margin-bottom: 20px !important;
}

.image-container {
    margin-top: 20px
}

.comment-container {
    margin-top: 20px
}