.login-page {
  min-height: 100vh;
  background-color: #f0f2f5;
}

.login-page .container {
  max-width: 360px;
  margin: 50px auto;
}

.login-form h2 {
  margin-top: 84px;
  font-size: 24px;
  text-align: center;
}

.login-form-checkbox {
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.login-form-button {
  width: 100%;
}

.login-footer {
  margin-top: 20px;
}

.login-footer .login-with {
  margin-top: 20px;
}

.login-footer .login-with .icon {
  margin-left: 20px;
  font-size: 24px;
}

.login-footer .login-with span {
  font-weight: bold;
}

.login-footer .language {
  margin-top: 20px;
  height: 36px;
  line-height: 30px;
  text-align: center;
}

.login-footer .language .icon {
  margin: 0 10px;
  font-size: 24px;
}

.login-footer .language a {
  display: inline-block;
  height: 36px;
  margin: 0 10px;
  font-size: 24px;
}
